In [1]:
#from sys import path
#path.append('./funciones')

Importo el dataset de manera general

In [2]:
import pandas as pd
import numpy as np

data_location = './datasets/properatti.csv'

raw_data = pd.read_csv(data_location)

In [3]:
data = raw_data
data.index

RangeIndex(start=0, stop=121220, step=1)

Dataset

#Completar con nombre de campo y tipo de dato

Porcentaje de faltantes de datos

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  121220 non-null  int64
 1   operation                   121220 non-null  object
 2   property_type               121220 non-null  object
 3   place_name                  121197 non-null  object
 4   place_with_parent_names     121220 non-null  object
 5   country_name                121220 non-null  object
 6   state_name                  121220 non-null  object
 7   geonames_id                 102503 non-null  float64
 8   lat-lon                     69670 non-null   object
 9   lat                         69670 non-null   float64
 10  lon                         69670 non-null   float64
 11  price                       100810 non-null  float64
 12  currency                    100809 non-null  object
 13  price_aprox_local_currency  100810 non-null  float64
 14  price_aprox_usd             100810 non-null  float64
 15  surface_total_in_m2         81892 non-null   float64
 16  surface_covered_in_m2       101313 non-null  float64
 17  price_usd_per_m2            68617 non-null   float64
 18  price_per_m2                87658 non-null   float64
 19  floor                       7899 non-null    float64
 20  rooms                       47390 non-null   float64
 21  expenses                    14262 non-null   float64
 22  properati_url               121220 non-null  object
 23  description                 121218 non-null  object
 24  title                       121220 non-null  object
 25  image_thumbnail             118108 non-null  object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

In [5]:
data.sample(10)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
104962,104962,sell,house,Moreno,|Argentina|Bs.As. G.B.A. Zona Oeste|Moreno|,Argentina,Bs.As. G.B.A. Zona Oeste,3430550.0,NaN,NaN,...,590.0,143.312102,762.711864,NaN,NaN,16000.0,http://www.properati.com.ar/1btyz_venta_casa_m...,EXCELENTE CHALET EN EL MAS EXCLUSIVO COUNTRY D...,Casa - San Diego C.C,https://thumbs4.properati.com/7/bo3g19citYFCGm...
59454,59454,sell,apartment,Flores,|Argentina|Capital Federal|Flores|,Argentina,Capital Federal,3433918.0,"-34.627059,-58.454623",-34.627059,...,108.0,NaN,2037.037037,7.0,4.0,NaN,http://www.properati.com.ar/19xey_venta_depart...,Corredor Responsable: Patricia Maria Sodor - C...,Sem.Piso 4 amb c/Dep Balcón y Coch. Baulera,https://thumbs4.properati.com/8/6RN558RHVKnYr2...
100490,100490,sell,apartment,General Pueyrredón,|Argentina|Buenos Aires Interior|General Pueyr...,Argentina,Buenos Aires Interior,3433782.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,800.0,http://www.properati.com.ar/1bo10_venta_depart...,Departamento de 2 ambientes en primer piso con...,Departamento - La Perla Sur,https://thumbs4.properati.com/7/READuso1BJ595N...
59833,59833,sell,house,Bella Vista,|Argentina|Bs.As. G.B.A. Zona Norte|San Miguel...,Argentina,Bs.As. G.B.A. Zona Norte,3436061.0,"-34.570286,-58.693571",-34.570286,...,276.0,NaN,1304.347826,NaN,5.0,NaN,http://www.properati.com.ar/19y0m_venta_casa_b...,"Venta - Casa - Argentina, Buenos Aires, Zona N...",Casa en Venta ubicado en Bella Vista,https://thumbs4.properati.com/7/Zs39BrXVE1DMz-...
101829,101829,sell,apartment,Martínez,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3430813.0,NaN,NaN,...,63.0,2906.157561,67445.968254,NaN,NaN,NaN,http://www.properati.com.ar/1bpv0_venta_depart...,"El Proyecto cuenta con Unidades de 2, 3 y 4 a...",Departamento - Martinez,https://thumbs4.properati.com/0/O_1t2zmtYWug5I...
66169,66169,sell,apartment,Córdoba,|Argentina|Córdoba|Córdoba|,Argentina,Córdoba,3860259.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1adfc_venta_depart...,Te invitamos a conocer:Departamento de dos do...,"***Viví Cenit 5, 2 dor, Gral Paz***",https://thumbs4.properati.com/4/L2WCb4fR_6r9h2...
103111,103111,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,NaN,NaN,...,38.0,2289.473684,2289.473684,NaN,NaN,1300.0,http://www.properati.com.ar/1brgr_venta_depart...,"Monoambiente de categoría,al frente, en matade...",Departamento - Mataderos,https://thumbs4.properati.com/3/soMUGUozbun4O6...
84099,84099,sell,house,Escobar,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|,Argentina,Bs.As. G.B.A. Zona Norte,3434130.0,NaN,NaN,...,NaN,1129.411765,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1b1bt_venta_casa_e...,"HERMOSA PROPIEDAD EN UNA PLANTA, CUENTA CON LI...",Cristian Mooswalder Negocios Inmobiliarios,https://thumbs4.properati.com/6/QZY9EsDRutZNIh...
106524,106524,sell,house,Manuel B Gonnet,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|Man...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,NaN,NaN,...,100.0,NaN,1850.000000,NaN,NaN,NaN,http://www.properati.com.ar/1bwhk_venta_casa_m...,EXCELENTE CASA EN ESQUINA CON INMEJORABLE ENT...,Casa - Manuel B Gonnet,https://thumbs4.properati.com/1/FUun7pIYfWukSk...
31200,31200,sell,apartment,Parque Chacabuco,|Argentina|Capital Federal|Parque Chacabuco|,Argentina,Capital Federal,3430116.0,"-34.6397237,-58.4371213",-34.639724,...,43.0,1695.652174,1813.953488,2.0,2.0,1250.0,http://www.properati.com.ar/183mu_venta_depart...,EXCELENTE 2 AMBIENTES AL FRENTE CON BALCON EN ...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/7/AtQpvGLDaLQAK3...

In [6]:
from funciones import *

In [7]:
missing_zero_values_table(data)

Your selected dataframe has 26 columns and 121220 Rows.
There are 18 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
floor,0,113321,93.48,113321,93.48,float64
expenses,0,106958,88.23,106958,88.23,float64
rooms,0,73830,60.91,73830,60.91,float64
price_usd_per_m2,0,52603,43.39,52603,43.39,float64
lat-lon,0,51550,42.53,51550,42.53,object
lat,0,51550,42.53,51550,42.53,float64
lon,0,51550,42.53,51550,42.53,float64
surface_total_in_m2,383,39328,32.44,39711,32.76,float64
price_per_m2,0,33562,27.69,33562,27.69,float64
currency,0,20411,16.84,20411,16.84,object
price,1,20410,16.84,20411,16.84,float64
price_aprox_local_currency,1,20410,16.84,20411,16.84,float64
price_aprox_usd,1,20410,16.84,20411,16.84,float64
surface_covered_in_m2,2,19907,16.42,19909,16.42,float64
geonames_id,0,18717,15.44,18717,15.44,float64
image_thumbnail,0,3112,2.57,3112,2.57,object
place_name,0,23,0.02,23,0.02,object
description,0,2,0.00,2,0.00,object

Nos deshacemos de la columna de indice ya que tienen los mismos valores.

In [8]:
#data.reset_index(drop=True, inplace=True)
#data.index

### Análisis de la variable _operation_

In [9]:
data['operation'].value_counts()

sell    121220
Name: operation, dtype: int64

Todas las propiedades son para la venta, lo cual representa una categoría única.

In [10]:
data['operation_category'] = data['operation'].astype('category')
data['operation_category'].dtype

CategoricalDtype(categories=['sell'], ordered=False)

### Análisis de la variable _property_type_

In [11]:
data['property_type'].value_counts()

apartment    71065
house        40268
PH            5751
store         4136
Name: property_type, dtype: int64

Observamos que tiene tiene cuatro posibles opciones por lo cual la cambiamos a categórica.

In [12]:
data['property_type_category'] = data['property_type'].astype('category')
data['property_type_category'].dtype

CategoricalDtype(categories=['PH', 'apartment', 'house', 'store'], ordered=False)

### Análisis de la variable _place_name_

In [13]:
data['place_name'].value_counts()
#data[['place_name','place_with_parent_names','country_name','state_name']].sample(10)

Córdoba                                  9254
Rosario                                  8504
Mar del Plata                            6534
Tigre                                    3324
Nordelta                                 3315
                                         ...
San Eliseo Country, Golf, Hotel & Spa       1
Casa Grande                                 1
Oliveros                                    1
The Boating Club                            1
Colina de Peralta Ramos                     1
Name: place_name, Length: 1060, dtype: int64

Haciendo un análisis de las 23 observaciones que no tienen 'place_name', observamos que las mismas pertenecen al barrio de Rincón de Mimberg, y hay observaciones que tienen las mismas características para descripciones similares. Sumado a que geográficamente las descripciones apuntan a que se encuentran en barrios cerrados ó courtries en dicha ubicación.

In [31]:
data_place_name_null = data.loc[data['place_name'].isnull()]
data_place_name_null.head(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,rooms,expenses,properati_url,description,title,image_thumbnail,operation_category,property_type_category,place_name_check,place_with_parent_names_check
6489,6489,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4008968545,-58.63809847",-34.400897,...,NaN,NaN,http://www.properati.com.ar/15ui7_venta_casa_t...,"Espectacular casa moderna de una planta, con a...",Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/7/vQjgbHSz1fKXxy...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
10201,10201,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400704,-58.638067",-34.400704,...,5.0,NaN,http://www.properati.com.ar/166p5_venta_casa_t...,Corredor Responsable: SABRINA COCCONI - CSI 62...,VENTA CASA SANTA MARÍA DE TIGRE COUNTRY BARRIO...,https://thumbs4.properati.com/1/FABpKIJMaoAO3t...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
11451,11451,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4026880384,-58.6262613379",-34.402688,...,NaN,NaN,http://www.properati.com.ar/16bpd_venta_casa_t...,MUY LINDA CASA EN EXCELENTE UBICACION!! Superf...,SANTA MARIA DE TIGRE IMPECABLE,https://thumbs4.properati.com/5/fwH9L71hW2rW7V...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
14839,14839,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4007994779,-58.6381735719",-34.400799,...,NaN,NaN,http://www.properati.com.ar/16tal_venta_casa_b...,Muy linda casa de estilo clásico.-Planta baja;...,Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/1/3ZbPSffTY38y7v...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
18622,18622,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4032781195,-58.6263503945",-34.403278,...,NaN,NaN,http://www.properati.com.ar/177ee_venta_casa_t...,Casa con increible vista al lago con playa de...,Casa con increible vista al lago con playa y m...,https://thumbs4.properati.com/0/52JCH1PKYCOMe6...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...

In [33]:
data[data['place_name'].str.contains('Rincón de Milberg',na=False)].head(5)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,rooms,expenses,properati_url,description,title,image_thumbnail,operation_category,property_type_category,place_name_check,place_with_parent_names_check
573,573,sell,apartment,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4084868477,-58.5920269766",-34.408487,...,3.0,NaN,http://www.properati.com.ar/15fcg_venta_depart...,"Excelente departamento a estrenar, edificio re...",Muy lindo depto de 3 amb con vista al rio en T...,https://thumbs4.properati.com/8/o_eatpL-3fJytW...,sell,apartment,Rincón de Milberg,NaN
590,590,sell,apartment,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4308974,-58.6882264",-34.430897,...,3.0,NaN,http://www.properati.com.ar/15fdm_venta_depart...,A solo 4 cuadras del acceso Ramal Tigre!!! COM...,"VENTA EXCELENTE departamento 3 ambientes , C...",https://thumbs4.properati.com/4/LiG_r0MIpHKCwk...,sell,apartment,Rincón de Milberg,NaN
630,630,sell,apartment,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4228922077,-58.5884990609",-34.422892,...,2.0,NaN,http://www.properati.com.ar/15ffq_venta_depart...,Departamento dos ambientes. Living/comedor con...,"Departamento 2 ambientes en planta baja,Tigre,...",https://thumbs4.properati.com/4/WrNT-tsDQvG9Kd...,sell,apartment,Rincón de Milberg,NaN
1079,1079,sell,apartment,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,...,NaN,NaN,http://www.properati.com.ar/15h5q_venta_depart...,Muy lindo departamento de 3 ambientes - LIving...,Departamento 70m² con Plantas en Montevideo 15...,https://thumbs4.properati.com/7/b5LRdhZibskJ_-...,sell,apartment,Rincón de Milberg,NaN
4919,4919,sell,apartment,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.3951514415,-58.6490096963",-34.395151,...,3.0,NaN,http://www.properati.com.ar/15ogo_venta_depart...,"CGI, Impecable 4 ambientes vista al rio,y bahi...","CGI, Vista Bahia, 4 ambientes vista al rio jar...",https://thumbs4.properati.com/5/69YPd-6YXgcFrw...,sell,apartment,Rincón de Milberg,NaN

Por este motivo imputamos a los datos faltantes con Rincón de Milberg, ajustando al mismo tiempo el campo place_with_parent_names para que sea consistente con la información del dataset.

In [34]:
data['place_name_check'] = data['place_name']
data.loc[data['place_name'].isnull(),['place_name_check','place_with_parent_names_check']] = \
    ['Rincón de Milberg','|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rincón de Milberg|']
data_place_name_null

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,rooms,expenses,properati_url,description,title,image_thumbnail,operation_category,property_type_category,place_name_check,place_with_parent_names_check
6489,6489,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4008968545,-58.63809847",-34.400897,...,NaN,NaN,http://www.properati.com.ar/15ui7_venta_casa_t...,"Espectacular casa moderna de una planta, con a...",Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/7/vQjgbHSz1fKXxy...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
10201,10201,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400704,-58.638067",-34.400704,...,5.0,NaN,http://www.properati.com.ar/166p5_venta_casa_t...,Corredor Responsable: SABRINA COCCONI - CSI 62...,VENTA CASA SANTA MARÍA DE TIGRE COUNTRY BARRIO...,https://thumbs4.properati.com/1/FABpKIJMaoAO3t...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
11451,11451,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4026880384,-58.6262613379",-34.402688,...,NaN,NaN,http://www.properati.com.ar/16bpd_venta_casa_t...,MUY LINDA CASA EN EXCELENTE UBICACION!! Superf...,SANTA MARIA DE TIGRE IMPECABLE,https://thumbs4.properati.com/5/fwH9L71hW2rW7V...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
14839,14839,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4007994779,-58.6381735719",-34.400799,...,NaN,NaN,http://www.properati.com.ar/16tal_venta_casa_b...,Muy linda casa de estilo clásico.-Planta baja;...,Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/1/3ZbPSffTY38y7v...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
18622,18622,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4032781195,-58.6263503945",-34.403278,...,NaN,NaN,http://www.properati.com.ar/177ee_venta_casa_t...,Casa con increible vista al lago con playa de...,Casa con increible vista al lago con playa y m...,https://thumbs4.properati.com/0/52JCH1PKYCOMe6...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
21922,21922,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.399704,-58.638405",-34.399704,...,5.0,NaN,http://www.properati.com.ar/17gy5_venta_casa_s...,Corredor Responsable: Matias Castelli - CUCICB...,Venta Casa - Barrio Santa Maria de Tigre,https://thumbs4.properati.com/8/oO7kmFPYNm8DYr...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
23664,23664,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4005161998,-58.6417999185",-34.400516,...,NaN,NaN,http://www.properati.com.ar/17mb5_venta_casa_t...,EXCELENTE CASA CLASICA con grandes ventanas y ...,CASA EN VENTA EN SANTA MARIA DE TIGRE CON RENTA,https://thumbs4.properati.com/2/LQCwH6txpFqetn...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
24722,24722,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4007292,-58.6377783",-34.400729,...,NaN,NaN,http://www.properati.com.ar/17oz1_venta_casa_t...,"EN EXCLUSIVIDAD!!!!!!Lindísima casa, muy lumin...",Venta de casa en Santa María de Tigre,https://thumbs4.properati.com/0/Nhx4NejZaQACap...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
38856,38856,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.425087,-58.5796585",-34.425087,...,NaN,NaN,http://www.properati.com.ar/18mcb_venta_casa_t...,SANTA MARIA DE TIGRE- AL RIO - ESPECTACULAR CA...,"Casa (barrio cerrado), Venta",https://thumbs4.properati.com/2/Izq8d5o8ti3kJy...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
45970,45970,sell,apartment,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.396074,-58.63738",-34.396074,...,1.0,NaN,http://www.properati.com.ar/1958f_venta_depart...,"EDIFICIO ZERENA – EL PALMAR, NORDELTA. Torre 2...",Excelente monoambiente. Barrio El Palmar. Con...,https://thumbs4.properati.com/2/5yvU5E9wOAAzBa...,sell,apartment,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
46642,46642,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400749,-58.638754",-34.400749,...,6.0,NaN,http://www.properati.com.ar/196mk_venta_casa_t...,Corredor Responsable: Matias Castelli - CUCICB...,Venta de Casa al rio,https://thumbs4.properati.com/9/ACeODr7N9CYr9T...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
53130,53130,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400978,-58.637809",-34.400978,...,NaN,NaN,http://www.properati.com.ar/19kkw_venta_casa_t...,Excelente casa en Venta en B° Santa Maria de T...,Casa en Venta,https://thumbs4.properati.com/0/3G0TgAjQbNN385...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
55306,55306,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.3996311,-58.6433121",-34.399631,...,NaN,NaN,http://www.properati.com.ar/19ouh_venta_casa_t...,Muy linda casa de dos plantas en lote interno ...,Santa María de Tigre. Casa con amarra.,https://thumbs4.properati.com/7/6CoXZSzRyyYJBA...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
57703,57703,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39033749,-58.63368988",-34.390337,...,NaN,NaN,http://www.properati.com.ar/19ty5_venta_casa_s...,Espectacular casas moderna con amplio jardín s...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/3/3ax5piHfCls0gT...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
57759,57759,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39596815,-58.63077164",-34.395968,...,NaN,NaN,http://www.properati.com.ar/19u2a_venta_casa_b...,Incluye una amarra de U$S 30.000 con elevador ...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/8/H6gVgcPkk1wcQu...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
57764,57764,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39635767,-58.62613678",-34.396358,...,NaN,NaN,http://www.properati.com.ar/19u2n_venta_casa_s...,IMPECABLE ! Sobre la laguna con excelente orie...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/1/7lkC4GRTKV-2DS...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
57793,57793,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39628685,-58.62922668",-34.396287,...,NaN,NaN,http://www.properati.com.ar/19u4u_venta_casa_j...,Súper cálida y agradable. Ubicada en uno de lo...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/7/GbromikV5vgSHJ...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
58004,58004,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39104577,-58.63617897",-34.391046,...,NaN,NaN,http://www.properati.com.ar/19uld_venta_casa_s...,Casa clásica muy cómoda.PLANTA BAJA: Hall de e...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/7/1XfLGuboQb9HPW...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
58037,58037,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39315287,-58.63197327",-34.393153,...,NaN,NaN,http://www.properati.com.ar/19unl_venta_casa_s...,Excelente casa ubicada en uno de la a pocos ba...,SANTA MARIA DE TIGRE 100,https://thumbs4.properati.com/1/gnnv0Ek1OhlEIc...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
59069,59069,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.400849,-58.638179",-34.400849,...,5.0,NaN,http://www.properati.com.ar/19wuj_venta_casa_b...,Corredor Responsable: Matias Castelli - CUCICB...,CASA EN VENTA AL AGUA EN SANTA MARIA DE TIGRE,https://thumbs4.properati.com/0/yQCPCJupzxW52v...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
62411,62411,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.396485,-58.635878",-34.396485,...,4.0,NaN,http://www.properati.com.ar/1a71u_venta_casa_b...,"Hermosa casa en lote perimetral, Excelente cal...",VENTA CASA A ESTRENAR EN LAS TIPAS NORDELTA,https://thumbs4.properati.com/8/6zjSdUPIdlsKSz...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
62413,62413,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.396485,-58.635878",-34.396485,...,5.0,NaN,http://www.properati.com.ar/1a71w_venta_casa_s...,Muy linda casa a estrenar sobre lote perimetra...,Muy linda casa a estrenar en Las Tipas,https://thumbs4.properati.com/4/lp2Smi4s4ttX4a...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...
63849,63849,sell,house,NaN,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.39452,-58.632501",-34.394520,...,5.0,NaN,http://www.properati.com.ar/1a9l0_venta_casa_s...,Casa estilo colonial de una planta sobre lote ...,Oportunidad! Casa en La Alameda,https://thumbs4.properati.com/3/0IZAiDfAhxDRhX...,sell,house,Rincón de Milberg,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Rinc...

In [15]:
missing_zero_values_table(data)

Your selected dataframe has 30 columns and 121220 Rows.
There are 19 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
place_with_parent_names_check,0,121197,99.98,121197,99.98,object
floor,0,113321,93.48,113321,93.48,float64
expenses,0,106958,88.23,106958,88.23,float64
rooms,0,73830,60.91,73830,60.91,float64
price_usd_per_m2,0,52603,43.39,52603,43.39,float64
lat-lon,0,51550,42.53,51550,42.53,object
lat,0,51550,42.53,51550,42.53,float64
lon,0,51550,42.53,51550,42.53,float64
surface_total_in_m2,383,39328,32.44,39711,32.76,float64
price_per_m2,0,33562,27.69,33562,27.69,float64
currency,0,20411,16.84,20411,16.84,object
price_aprox_usd,1,20410,16.84,20411,16.84,float64
price_aprox_local_currency,1,20410,16.84,20411,16.84,float64
price,1,20410,16.84,20411,16.84,float64
surface_covered_in_m2,2,19907,16.42,19909,16.42,float64
geonames_id,0,18717,15.44,18717,15.44,float64
image_thumbnail,0,3112,2.57,3112,2.57,object
place_name,0,23,0.02,23,0.02,object
description,0,2,0.00,2,0.00,object

### Análisis de la variable _country_name_

In [48]:
data['country_name'].value_counts()

Argentina    121220
Name: country_name, dtype: int64

No es necesario realizar ningún tipo de ajuste en esta variable. Vemos que todas las propiedades son en Argentina.

### Análisis de la variable _state_name_

In [50]:
data['state_name'].value_counts()

Capital Federal                 32316
Bs.As. G.B.A. Zona Norte        25560
Bs.As. G.B.A. Zona Sur          13952
Córdoba                         12069
Santa Fe                        10172
Buenos Aires Costa Atlántica    10006
Bs.As. G.B.A. Zona Oeste         9322
Buenos Aires Interior            2291
Río Negro                         808
Neuquén                           733
Mendoza                           681
Tucumán                           674
Corrientes                        583
Misiones                          464
Entre Ríos                        369
Salta                             278
Chubut                            259
San Luis                          252
La Pampa                          157
Formosa                            65
Chaco                              57
San Juan                           40
Tierra Del Fuego                   31
Catamarca                          27
Jujuy                              26
Santa Cruz                         20
La Rioja                            4
Santiago Del Estero                 4
Name: state_name, dtype: int64

No es necesario realizar ningún tipo de ajuste en esta variable. Observamos que la provinicia de Buenos Aires ha sido dividida en regiones geográficas, a diferencia del resto de las provincias.

### Análisis de las variables de Geoposicionamiento

Corroboramos que todas las observaciones que tienen datos en lat-lon tienen tambien en lat y lon

In [18]:
mask_lat_notnull = data['lat'].notnull()
mask_lon_notnull = data['lat'].notnull()
mask_lat_lon_notnull = data['lat-lon'].notnull()

mask_comparison_lat_lon = mask_lat_notnull & mask_lon_notnull & mask_lat_lon_notnull

print(f"Cantidad de observaciones con datos de Latitud y Longitud: {mask_lat_lon_notnull.sum()}")
print(f"Cantidad de observaciones en donde si hay datos de Latitud y Longitud también hay datos en las columnas separadas: {mask_comparison_lat_lon.sum()}")


data.loc[mask_comparison_lat_lon,['lat-lon','lat','lon']]

Cantidad de observaciones con datos de Latitud y Longitud: 69670
Cantidad de observaciones en donde si hay datos de Latitud y Longitud también hay datos en las columnas separadas: 69670

                              lat-lon        lat        lon
0             -34.6618237,-58.5088387 -34.661824 -58.508839
1             -34.9038831,-57.9643295 -34.903883 -57.964330
2             -34.6522615,-58.5229825 -34.652262 -58.522982
3             -34.6477969,-58.5164244 -34.647797 -58.516424
4             -38.0026256,-57.5494468 -38.002626 -57.549447
...                               ...        ...        ...
121153  -34.5992135511,-58.4025191971 -34.599214 -58.402519
121158   -34.587425443,-58.3973722534 -34.587425 -58.397372
121160   -34.563685346,-58.4426825896 -34.563685 -58.442683
121209   -34.563685346,-58.4426825896 -34.563685 -58.442683
121217  -34.5706388726,-58.4755963355 -34.570639 -58.475596

[69670 rows x 3 columns]

Corroboramos que los valores sean los mismos luego de haber hecho la división en columnas

In [19]:
import re

pattern_lat_lon = '(?P<latitude>.+),(?P<longitude>.+)'
pattern_lat_lon_regex = re.compile(pattern_lat_lon)

resultados_lat_lon = data['lat-lon'].apply(lambda x: x if x is np.NaN else pattern_lat_lon_regex.match(x))

lat_match = resultados_lat_lon.apply(lambda x: x if x is np.NaN else x.group('latitude'))
lon_match = resultados_lat_lon.apply(lambda x: x if x is np.NaN else x.group('longitude'))


lat_match_numeric = lat_match.astype(float)
lon_match_numeric = lon_match.astype(float)


lat_check = data['lat'] - lat_match_numeric < .000001
lon_check = data['lon'] - lon_match_numeric < .000001


data_lat_lon_check = lat_check & lon_check

print(f"Cantidad de valores donde coinciden los valores de las columnas: {data_lat_lon_check.sum()}")

Cantidad de valores donde coinciden los valores de las columnas: 69670

Vamos a revisar las

In [52]:
data['currency'].value_counts()

USD    87587
ARS    13219
PEN        2
UYU        1
Name: currency, dtype: int64

Para aquellas observaciones para las cuales únicamente tenemos el geoname_id le obtenemos la latitud y longitud correspondiente

NO por ahora.

In [21]:
data.head(10)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,rooms,expenses,properati_url,description,title,image_thumbnail,operation_category,property_type_category,place_name_check,place_with_parent_names_check
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,sell,PH,Mataderos,NaN
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...,sell,apartment,La Plata,NaN
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,sell,apartment,Mataderos,NaN
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...,sell,PH,Liniers,NaN
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...,sell,apartment,Centro,NaN
5,5,sell,house,Gualeguaychú,|Argentina|Entre Ríos|Gualeguaychú|,Argentina,Entre Ríos,3433657.0,"-33.0140714,-58.519828",-33.014071,...,NaN,NaN,http://www.properati.com.ar/15bop_venta_depart...,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ...",https://thumbs4.properati.com/6/q-w68gvaUEQVXI...,sell,house,Gualeguaychú,NaN
6,6,sell,PH,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,3430511.0,"-34.5329567,-58.5217825",-34.532957,...,NaN,NaN,http://www.properati.com.ar/15bor_venta_ph_mun...,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",https://thumbs4.properati.com/5/6GOXsHCyDu1aGx...,sell,PH,Munro,NaN
7,7,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,NaN,NaN,http://www.properati.com.ar/15bot_venta_depart...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...,sell,apartment,Belgrano,NaN
8,8,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,NaN,NaN,http://www.properati.com.ar/15bou_venta_depart...,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",https://thumbs4.properati.com/2/J3zOjgaFHrkvnv...,sell,apartment,Belgrano,NaN
9,9,sell,house,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.942031,-60.7259192",-32.942031,...,NaN,NaN,http://www.properati.com.ar/15box_venta_casa_r...,MEDNOZA AL 7600A UNA CUADRA DE CALLE MENDOZAWH...,WHITE 7637 - 2 DORMITORIOS CON PATIO,https://thumbs4.properati.com/8/RCf1YEWdF4rv98...,sell,house,Rosario,NaN

In [22]:
data.state_name.unique()

array(['Capital Federal', 'Bs.As. G.B.A. Zona Sur',
       'Buenos Aires Costa Atlántica', 'Entre Ríos',
       'Bs.As. G.B.A. Zona Norte', 'Santa Fe', 'Córdoba',
       'Bs.As. G.B.A. Zona Oeste', 'Misiones', 'Buenos Aires Interior',
       'Salta', 'Neuquén', 'Río Negro', 'San Luis', 'Mendoza',
       'Corrientes', 'Chubut', 'Tucumán', 'La Pampa', 'Chaco', 'San Juan',
       'Santa Cruz', 'Tierra Del Fuego', 'Catamarca',
       'Santiago Del Estero', 'Jujuy', 'La Rioja', 'Formosa'],
      dtype=object)

In [23]:
data.loc[data['state_name']=='Capital Federal']['place_name'].unique()

array(['Mataderos', 'Liniers', 'Belgrano', 'Palermo Soho', 'Palermo',
       'Flores', 'Boedo', 'Las Cañitas', 'Puerto Madero', 'Balvanera',
       'Caballito', 'Nuñez', 'San Telmo', 'Almagro', 'Capital Federal',
       'Colegiales', 'Floresta', 'Barrio Norte', 'Barracas', 'Recoleta',
       'Congreso', 'Villa Crespo', 'Chacarita', 'Constitución',
       'Villa Urquiza', 'Palermo Hollywood', 'Saavedra', 'Monserrat',
       'Pompeya', 'Parque Chas', 'Paternal', 'Agronomía',
       'Villa Pueyrredón', 'Coghlan', 'Parque Centenario',
       'Palermo Chico', 'Villa Luro', 'Villa Devoto', 'Boca',
       'Parque Avellaneda', 'San Cristobal', 'Velez Sarsfield', 'Abasto',
       'Versalles', 'Villa del Parque', 'Monte Castro', 'Retiro',
       'Parque Patricios', 'San Nicolás', 'Villa Santa Rita',
       'Centro / Microcentro', 'Once', 'Tribunales', 'Parque Chacabuco',
       'Catalinas', 'Villa General Mitre', 'Palermo Viejo',
       'Villa Lugano', 'Villa Ortuzar', 'Villa Soldati', 'Villa Real',
       'Villa Riachuelo'], dtype=object)

In [24]:
data.loc[data.currency.isna()]

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,rooms,expenses,properati_url,description,title,image_thumbnail,operation_category,property_type_category,place_name_check,place_with_parent_names_check
5,5,sell,house,Gualeguaychú,|Argentina|Entre Ríos|Gualeguaychú|,Argentina,Entre Ríos,3433657.0,"-33.0140714,-58.519828",-33.014071,...,NaN,NaN,http://www.properati.com.ar/15bop_venta_depart...,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ...",https://thumbs4.properati.com/6/q-w68gvaUEQVXI...,sell,house,Gualeguaychú,NaN
20,20,sell,house,Villa Giardino,|Argentina|Córdoba|Villa Giardino|,Argentina,Córdoba,3832729.0,"-31.0529852,-64.4991278",-31.052985,...,NaN,NaN,http://www.properati.com.ar/15bqb_venta_casa_v...,"Consta de: Comedor-cocina, cuatro dormitorios ...","Casa con excelente ubicaciòn, calle asfaltada,...",https://thumbs4.properati.com/1/9Z3PZS2TK7olUo...,sell,house,Villa Giardino,NaN
41,41,sell,apartment,Villa Carlos Paz,|Argentina|Córdoba|Villa Carlos Paz|,Argentina,Córdoba,3832791.0,"-31.4009989,-64.4780258",-31.400999,...,4.0,NaN,http://www.properati.com.ar/15bta_venta_depart...,“Arecas” es un complejo de dúplex y departamen...,Venta en pozo deptos-dúplex- Barrio Santa Rita...,https://thumbs4.properati.com/7/EV8UVQgLFQCAxr...,sell,apartment,Villa Carlos Paz,NaN
62,62,sell,house,Berazategui,|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|,Argentina,Bs.As. G.B.A. Zona Sur,3436042.0,NaN,NaN,...,NaN,NaN,http://www.properati.com.ar/15bvu_venta_casa_b...,Casa moderna en dos plantas.PB : Living con ho...,MODERNA CASA EN OMBUES DE HUDSON,https://thumbs4.properati.com/7/a8Qmcv66lP2cTc...,sell,house,Berazategui,NaN
67,67,sell,house,Ituzaingó,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|,Argentina,Bs.As. G.B.A. Zona Oeste,3433359.0,"-34.6422298,-58.7031296",-34.642230,...,5.0,NaN,http://www.properati.com.ar/15bwz_venta_casa_i...,PLANTA ALTA: DORMITORIO EN SUITE - BALCÓNPLANT...,Chalet en Venta. Ambientes. Dormitorios. 220 m2,https://thumbs4.properati.com/6/cQAGKCZCYDfOgz...,sell,house,Ituzaingó,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121210,121210,sell,house,Martínez,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3430813.0,NaN,NaN,...,NaN,NaN,http://www.properati.com.ar/1cj8o_venta_casa_m...,Dos viviendas en block en excelente ubicación ...,Casa - Martinez,https://thumbs4.properati.com/7/3-sXSLx8KPDZzR...,sell,house,Martínez,NaN
121211,121211,sell,apartment,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436508.0,NaN,NaN,...,NaN,NaN,http://www.properati.com.ar/1cj9y_venta_depart...,Excelente departamento de categoría con vistas...,Departamento - Acassuso,https://thumbs4.properati.com/0/pvevdNsjE5Kf4r...,sell,apartment,Acassuso,NaN
121212,121212,sell,house,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436508.0,NaN,NaN,...,NaN,NaN,http://www.properati.com.ar/1cj9z_venta_casa_a...,ESPECTACULAR CASA ESTILO RACIONALISTA EN CALLE...,Casa - Acassuso,https://thumbs4.properati.com/7/DiXqpull13ebTp...,sell,house,Acassuso,NaN
121213,121213,sell,house,Martínez,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3430813.0,NaN,NaN,...,NaN,NaN,http://www.properati.com.ar/1cja0_venta_casa_m...,EXCELENTE casa en Martinez. Inmejorable ubicai...,Casa - Martinez,https://thumbs4.properati.com/8/v0Il0v9Key--5Z...,sell,house,Martínez,NaN
121214,121214,sell,store,San Isidro,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro|,Argentina,Bs.As. G.B.A. Zona Norte,3428983.0,NaN,NaN,...,NaN,NaN,http://www.properati.com.ar/1cja1_venta_local_...,***VENTA CON RENTA***Local en EDIFICIO lomas ...,Local - San Isidro,https://thumbs4.properati.com/7/R-j0JiSePtAriH...,sell,store,San Isidro,NaN

In [25]:
mask1 = (data['currency'].isna()) \
        & (data['price'].isna()) \
        & (data['price_aprox_local_currency'].isna()) \
        & (data['price_aprox_usd'].isna()) \
        & (data['price_usd_per_m2'].isna()) \
        & (data['price_per_m2'].isna())

mask2 = (data['price'].isna()) \
        & (data['price_aprox_local_currency'].isna()) \
        & (data['price_aprox_usd'].isna()) \
        & (data['price_usd_per_m2'].isna()) \
        & (data['price_per_m2'].isna())

#print(mask1.value_counts())
#print(mask2.value_counts())
data.loc[mask2,:].head(5)['description']

5     Casa en el perímetro del barrio 338, ubicada e...
20    Consta de: Comedor-cocina, cuatro dormitorios ...
41    “Arecas” es un complejo de dúplex y departamen...
62    Casa moderna en dos plantas.PB : Living con ho...
67    PLANTA ALTA: DORMITORIO EN SUITE - BALCÓNPLANT...
Name: description, dtype: object

In [26]:
data.iloc[67,:][{'description','title'}].description

'PLANTA ALTA: DORMITORIO EN SUITE - BALCÓNPLANTA BAJA: 2 DORMITORIOS - BAÑO - COCINA - LIVING/COMEDOR - LAVADERO - PATIO- FONDO LIBRE- ENTRADA DE AUTO - LOCAL CON BAÑOCONSULTE VALOR'

In [27]:
data.describe()

,Unnamed: 0,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,121220.000000,1.025030e+05,69670.000000,69670.000000,1.008100e+05,1.008100e+05,1.008100e+05,81892.000000,101313.000000,68617.000000,8.765800e+04,7899.000000,47390.000000,1.426200e+04
mean,60609.500000,3.574442e+06,-34.626210,-59.266290,4.685259e+05,4.229397e+06,2.397006e+05,233.795328,133.050181,2160.086916,6.912216e+03,17.452336,3.080840,5.009234e+03
std,34993.344153,3.541306e+05,1.980936,2.299922,2.260101e+06,6.904714e+06,3.913239e+05,1782.222147,724.351479,2759.288621,2.837864e+04,120.243621,1.860773,1.204403e+05
min,0.000000,3.427208e+06,-54.823985,-75.678931,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.600000,1.510204e+00,1.000000,1.000000,1.000000e+00
25%,30304.750000,3.430234e+06,-34.669065,-58.727040,1.100000e+05,1.583309e+06,8.973388e+04,50.000000,45.000000,1218.181818,1.550000e+03,1.000000,2.000000,1.000000e+03
50%,60609.500000,3.433910e+06,-34.597985,-58.480128,1.850000e+05,2.558452e+06,1.450000e+05,84.000000,75.000000,1800.000000,2.213115e+03,3.000000,3.000000,2.000000e+03
75%,90914.250000,3.836668e+06,-34.441299,-58.395908,4.200000e+05,4.675792e+06,2.650000e+05,200.000000,150.000000,2486.411765,3.355549e+03,6.000000,4.000000,4.000000e+03
max,121219.000000,6.948895e+06,4.545843,-53.733330,6.500000e+08,8.212711e+08,4.654544e+07,200000.000000,187000.000000,206333.333333,4.000000e+06,3150.000000,32.000000,1.000150e+07

In [28]:
df['description'].sample(10)

NameError: name 'df' is not defined

In [ ]:
df.info()

In [ ]:
import numpy as np
col_floor = df.floor

In [ ]:
df[df[]]

In [ ]:
df.iloc[121217].geonames_id

In [ ]:
df_map_test = df[~df['lat'].isna()]
df_map_test.sample(30000)

In [ ]:
df.iloc[26637]

In [ ]:
df.info()

In [ ]:
df