In [ ]:
#from sys import path
#path.append('./funciones')

Importo el dataset de manera general

In [2]:
import pandas as pd
import numpy as np

data_location = './datasets/properatti.csv'

raw_data = pd.read_csv(data_location)

In [3]:
data = raw_data
data.index

RangeIndex(start=0, stop=121220, step=1)

Dataset

#Completar con nombre de campo y tipo de dato

Porcentaje de faltantes de datos

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121220 entries, 0 to 121219
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  121220 non-null  int64
 1   operation                   121220 non-null  object
 2   property_type               121220 non-null  object
 3   place_name                  121197 non-null  object
 4   place_with_parent_names     121220 non-null  object
 5   country_name                121220 non-null  object
 6   state_name                  121220 non-null  object
 7   geonames_id                 102503 non-null  float64
 8   lat-lon                     69670 non-null   object
 9   lat                         69670 non-null   float64
 10  lon                         69670 non-null   float64
 11  price                       100810 non-null  float64
 12  currency                    100809 non-null  object
 13  price_aprox_local_currency  100810 non-null  float64
 14  price_aprox_usd             100810 non-null  float64
 15  surface_total_in_m2         81892 non-null   float64
 16  surface_covered_in_m2       101313 non-null  float64
 17  price_usd_per_m2            68617 non-null   float64
 18  price_per_m2                87658 non-null   float64
 19  floor                       7899 non-null    float64
 20  rooms                       47390 non-null   float64
 21  expenses                    14262 non-null   float64
 22  properati_url               121220 non-null  object
 23  description                 121218 non-null  object
 24  title                       121220 non-null  object
 25  image_thumbnail             118108 non-null  object
dtypes: float64(13), int64(1), object(12)
memory usage: 24.0+ MB

In [5]:
data.sample(10)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
92080,92080,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,NaN,NaN,...,109.0,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1bcec_venta_depart...,Unidad de dos dormitorios. Estar-comedor. Coci...,Departamento - Arroyito,https://thumbs4.properati.com/5/VRfVNIg7CT1HoL...
119909,119909,sell,store,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|La ...,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.919649,-57.943188",-34.919649,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1ch9g_venta_local_...,Corredor Responsable: Fabiana Di Girolamo - CD...,LOCAL COMERCIAL EN VENTA EN INMEJORABLE UBICAC...,https://thumbs4.properati.com/4/55AVD9-pCFxuYw...
107120,107120,sell,house,Cushamen,|Argentina|Chubut|Cushamen|,Argentina,Chubut,3859556.0,NaN,NaN,...,NaN,1500.000000,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1bxgk_venta_casa_c...,Casa: Superficie: 100 m2. Habitaciones: 2 de 3...,Casa - Lago Puelo,NaN
58805,58805,sell,apartment,Barrio Norte,|Argentina|Capital Federal|Barrio Norte|,Argentina,Capital Federal,3436109.0,"-34.5881078,-58.3860976",-34.588108,...,115.0,NaN,NaN,NaN,4.0,NaN,http://www.properati.com.ar/19wbk_venta_depart...,Excelente departameto de 4 ambientes con depen...,EXCELENTE 4 AMB c/Dep y Cochera - Recoleta,https://thumbs4.properati.com/6/5zUZvTBpgup6hS...
75594,75594,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,NaN,NaN,...,65.0,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1aqhg_venta_depart...,Situado en la calle Andres Lamas 729 este empr...,Departamento - Caballito,https://thumbs4.properati.com/8/5akFgmgCGeRy-r...
56956,56956,sell,PH,Parque Avellaneda,|Argentina|Capital Federal|Parque Avellaneda|,Argentina,Capital Federal,NaN,NaN,NaN,...,77.0,NaN,1805.194805,NaN,4.0,NaN,http://www.properati.com.ar/19rxj_venta_ph_par...,Corredor Responsable: Fernando Muñoz - CUCICBA...,PH APTO CRÉDITO PRIMERO POR ESCALERA SIN EXPEN...,https://thumbs4.properati.com/0/nbxF8_gB9cu_0c...
26089,26089,sell,apartment,San Cristobal,|Argentina|Capital Federal|San Cristobal|,Argentina,Capital Federal,3429153.0,NaN,NaN,...,40.0,23387.175000,23387.175000,NaN,2.0,NaN,http://www.properati.com.ar/17qqr_venta_depart...,tsa564- RESIDENCIAL DEPTO 2 AMB Y FINANCIACION...,tsa564- RESIDENCIAL DEPTO 2 AMB Y FINANCIACION...,https://thumbs4.properati.com/6/mwa4WW6uKwQGOX...
29720,29720,sell,apartment,Villa Crespo,|Argentina|Capital Federal|Villa Crespo|,Argentina,Capital Federal,3427458.0,"-34.5952512,-58.4407652",-34.595251,...,31.0,2892.323529,3172.225806,1.0,NaN,1200.0,http://www.properati.com.ar/17zqe_venta_depart...,VENTA DEPARTAMENTO 1 AMBIENTE VILLA CRESPOEdif...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/4/b6_y8hXC3zfuSt...
38471,38471,sell,apartment,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436080.0,NaN,NaN,...,65.0,1985.294118,2076.923077,6.0,NaN,NaN,http://www.properati.com.ar/18l6s_venta_depart...,Muy buen depto con excelente ubicaciÃ³n!Hall -...,"Departamento 68m² en Centenario, Av. 2000, San...",https://thumbs4.properati.com/5/_DXF349qt33FMn...
28909,28909,sell,PH,Caseros,|Argentina|Bs.As. G.B.A. Zona Oeste|Tres de Fe...,Argentina,Bs.As. G.B.A. Zona Oeste,3862356.0,"-34.5997306,-58.5715169",-34.599731,...,1000.0,980.000000,980.000000,NaN,NaN,NaN,http://www.properati.com.ar/17xh8_venta_ph_cas...,"Venta de Galpón en Caseros, Tres de Febrero. ...",PH EN VENTA,https://thumbs4.properati.com/5/rZnHZLMVHpdWFC...

In [6]:
from funciones import *

In [7]:
missing_zero_values_table(data)

Your selected dataframe has 26 columns and 121220 Rows.
There are 18 columns that have missing values.

,Zero Values,Missing Values,% of Total Values,Total Zero Missing Values,% Total Zero Missing Values,Data Type
floor,0,113321,93.48,113321,93.48,float64
expenses,0,106958,88.23,106958,88.23,float64
rooms,0,73830,60.91,73830,60.91,float64
price_usd_per_m2,0,52603,43.39,52603,43.39,float64
lat-lon,0,51550,42.53,51550,42.53,object
lat,0,51550,42.53,51550,42.53,float64
lon,0,51550,42.53,51550,42.53,float64
surface_total_in_m2,383,39328,32.44,39711,32.76,float64
price_per_m2,0,33562,27.69,33562,27.69,float64
currency,0,20411,16.84,20411,16.84,object
price,1,20410,16.84,20411,16.84,float64
price_aprox_local_currency,1,20410,16.84,20411,16.84,float64
price_aprox_usd,1,20410,16.84,20411,16.84,float64
surface_covered_in_m2,2,19907,16.42,19909,16.42,float64
geonames_id,0,18717,15.44,18717,15.44,float64
image_thumbnail,0,3112,2.57,3112,2.57,object
place_name,0,23,0.02,23,0.02,object
description,0,2,0.00,2,0.00,object

Nos deshacemos de la columna de indice ya que tienen los mismos valores.

In [8]:
#data.reset_index(drop=True, inplace=True)
#data.index

Cambiamos a categórica la variable de tipo de propiedad

In [9]:
data['property_type_category'] = data['property_type'].astype('category')

In [10]:
data.dtypes

Unnamed: 0                       int64
operation                       object
property_type                   object
place_name                      object
place_with_parent_names         object
country_name                    object
state_name                      object
geonames_id                    float64
lat-lon                         object
lat                            float64
lon                            float64
price                          float64
currency                        object
price_aprox_local_currency     float64
price_aprox_usd                float64
surface_total_in_m2            float64
surface_covered_in_m2          float64
price_usd_per_m2               float64
price_per_m2                   float64
floor                          float64
rooms                          float64
expenses                       float64
properati_url                   object
description                     object
title                           object
image_thumbnail                 object
property_type_category        category
dtype: object

Corroboramos que todas las observaciones que tienen datos en lat-lon tienen tambien en lat y lon

In [25]:
mask_lat_notnull = data['lat'].notnull()
mask_lon_notnull = data['lat'].notnull()
mask_lat_lon_notnull = data['lat-lon'].notnull()

mask_comparison_lat_lon = mask_lat_notnull & mask_lon_notnull & mask_lat_lon_notnull

print(f"Cantidad de observaciones con datos de Latitud y Longitud: {mask_lat_lon_notnull.sum()}")
print(f"Cantidad de observaciones en donde si hay datos de Latitud y Longitud también hay datos en las columnas separadas: {mask_comparison_lat_lon.sum()}")


data.loc[mask_comparison_lat_lon,['lat-lon','lat','lon']]

Cantidad de observaciones con datos de Latitud y Longitud: 69670
Cantidad de observaciones en donde si hay datos de Latitud y Longitud también hay datos en las columnas separadas: 69670

                              lat-lon        lat        lon
0             -34.6618237,-58.5088387 -34.661824 -58.508839
1             -34.9038831,-57.9643295 -34.903883 -57.964330
2             -34.6522615,-58.5229825 -34.652262 -58.522982
3             -34.6477969,-58.5164244 -34.647797 -58.516424
4             -38.0026256,-57.5494468 -38.002626 -57.549447
...                               ...        ...        ...
121153  -34.5992135511,-58.4025191971 -34.599214 -58.402519
121158   -34.587425443,-58.3973722534 -34.587425 -58.397372
121160   -34.563685346,-58.4426825896 -34.563685 -58.442683
121209   -34.563685346,-58.4426825896 -34.563685 -58.442683
121217  -34.5706388726,-58.4755963355 -34.570639 -58.475596

[69670 rows x 3 columns]

Corroboramos que los valores sean los mismos luego de haber hecho la división en columnas

In [27]:
import re

pattern_lat_lon = '(?P<latitude>.+),(?P<longitude>.+)'
pattern_lat_lon_regex = re.compile(pattern_lat_lon)

resultados_lat_lon = data['lat-lon'].apply(lambda x: x if x is np.NaN else pattern_lat_lon_regex.match(x))

lat_match = resultados_lat_lon.apply(lambda x: x if x is np.NaN else x.group('latitude'))
lon_match = resultados_lat_lon.apply(lambda x: x if x is np.NaN else x.group('longitude'))


lat_match_numeric = lat_match.astype(float)
lon_match_numeric = lon_match.astype(float)


lat_check = data['lat'] - lat_match_numeric < .000001
lon_check = data['lon'] - lon_match_numeric < .000001


data_lat_lon_check = lat_check & lon_check

print(f"Cantidad de valores donde coinciden los valores de las columnas: {data_lat_lon_check.sum()}")

Cantidad de valores donde coinciden los valores de las columnas: 69670

Para aquellas observaciones para las cuales únicamente tenemos el geoname_id le obtenemos la latitud y longitud correspondiente

NO por ahora.

In [22]:
data.head(10)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,property_type_category
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,PH
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...,apartment
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,apartment
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15boh_venta_ph_lin...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...,PH
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,1828.571429,1828.571429,NaN,NaN,NaN,http://www.properati.com.ar/15bok_venta_depart...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...,apartment
5,5,sell,house,Gualeguaychú,|Argentina|Entre Ríos|Gualeguaychú|,Argentina,Entre Ríos,3433657.0,"-33.0140714,-58.519828",-33.014071,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bop_venta_depart...,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ...",https://thumbs4.properati.com/6/q-w68gvaUEQVXI...,house
6,6,sell,PH,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,3430511.0,"-34.5329567,-58.5217825",-34.532957,...,1226.415094,1666.666667,NaN,NaN,NaN,http://www.properati.com.ar/15bor_venta_ph_mun...,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",https://thumbs4.properati.com/5/6GOXsHCyDu1aGx...,PH
7,7,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,3066.666667,3450.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bot_venta_depart...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...,apartment
8,8,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,3000.000000,3250.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bou_venta_depart...,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",https://thumbs4.properati.com/2/J3zOjgaFHrkvnv...,apartment
9,9,sell,house,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.942031,-60.7259192",-32.942031,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15box_venta_casa_r...,MEDNOZA AL 7600A UNA CUADRA DE CALLE MENDOZAWH...,WHITE 7637 - 2 DORMITORIOS CON PATIO,https://thumbs4.properati.com/8/RCf1YEWdF4rv98...,house

In [13]:
data.state_name.unique()

array(['Capital Federal', 'Bs.As. G.B.A. Zona Sur',
       'Buenos Aires Costa Atlántica', 'Entre Ríos',
       'Bs.As. G.B.A. Zona Norte', 'Santa Fe', 'Córdoba',
       'Bs.As. G.B.A. Zona Oeste', 'Misiones', 'Buenos Aires Interior',
       'Salta', 'Neuquén', 'Río Negro', 'San Luis', 'Mendoza',
       'Corrientes', 'Chubut', 'Tucumán', 'La Pampa', 'Chaco', 'San Juan',
       'Santa Cruz', 'Tierra Del Fuego', 'Catamarca',
       'Santiago Del Estero', 'Jujuy', 'La Rioja', 'Formosa'],
      dtype=object)

In [14]:
data.loc[data['state_name']=='Capital Federal']['place_name'].unique()

array(['Mataderos', 'Liniers', 'Belgrano', 'Palermo Soho', 'Palermo',
       'Flores', 'Boedo', 'Las Cañitas', 'Puerto Madero', 'Balvanera',
       'Caballito', 'Nuñez', 'San Telmo', 'Almagro', 'Capital Federal',
       'Colegiales', 'Floresta', 'Barrio Norte', 'Barracas', 'Recoleta',
       'Congreso', 'Villa Crespo', 'Chacarita', 'Constitución',
       'Villa Urquiza', 'Palermo Hollywood', 'Saavedra', 'Monserrat',
       'Pompeya', 'Parque Chas', 'Paternal', 'Agronomía',
       'Villa Pueyrredón', 'Coghlan', 'Parque Centenario',
       'Palermo Chico', 'Villa Luro', 'Villa Devoto', 'Boca',
       'Parque Avellaneda', 'San Cristobal', 'Velez Sarsfield', 'Abasto',
       'Versalles', 'Villa del Parque', 'Monte Castro', 'Retiro',
       'Parque Patricios', 'San Nicolás', 'Villa Santa Rita',
       'Centro / Microcentro', 'Once', 'Tribunales', 'Parque Chacabuco',
       'Catalinas', 'Villa General Mitre', 'Palermo Viejo',
       'Villa Lugano', 'Villa Ortuzar', 'Villa Soldati', 'Villa Real',
       'Villa Riachuelo'], dtype=object)

In [15]:
data.loc[data.currency.isna()]

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail,property_type_category
5,5,sell,house,Gualeguaychú,|Argentina|Entre Ríos|Gualeguaychú|,Argentina,Entre Ríos,3433657.0,"-33.0140714,-58.519828",-33.014071,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bop_venta_depart...,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ...",https://thumbs4.properati.com/6/q-w68gvaUEQVXI...,house
20,20,sell,house,Villa Giardino,|Argentina|Córdoba|Villa Giardino|,Argentina,Córdoba,3832729.0,"-31.0529852,-64.4991278",-31.052985,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bqb_venta_casa_v...,"Consta de: Comedor-cocina, cuatro dormitorios ...","Casa con excelente ubicaciòn, calle asfaltada,...",https://thumbs4.properati.com/1/9Z3PZS2TK7olUo...,house
41,41,sell,apartment,Villa Carlos Paz,|Argentina|Córdoba|Villa Carlos Paz|,Argentina,Córdoba,3832791.0,"-31.4009989,-64.4780258",-31.400999,...,NaN,NaN,NaN,4.0,NaN,http://www.properati.com.ar/15bta_venta_depart...,“Arecas” es un complejo de dúplex y departamen...,Venta en pozo deptos-dúplex- Barrio Santa Rita...,https://thumbs4.properati.com/7/EV8UVQgLFQCAxr...,apartment
62,62,sell,house,Berazategui,|Argentina|Bs.As. G.B.A. Zona Sur|Berazategui|,Argentina,Bs.As. G.B.A. Zona Sur,3436042.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bvu_venta_casa_b...,Casa moderna en dos plantas.PB : Living con ho...,MODERNA CASA EN OMBUES DE HUDSON,https://thumbs4.properati.com/7/a8Qmcv66lP2cTc...,house
67,67,sell,house,Ituzaingó,|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|,Argentina,Bs.As. G.B.A. Zona Oeste,3433359.0,"-34.6422298,-58.7031296",-34.642230,...,NaN,NaN,NaN,5.0,NaN,http://www.properati.com.ar/15bwz_venta_casa_i...,PLANTA ALTA: DORMITORIO EN SUITE - BALCÓNPLANT...,Chalet en Venta. Ambientes. Dormitorios. 220 m2,https://thumbs4.properati.com/6/cQAGKCZCYDfOgz...,house
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121210,121210,sell,house,Martínez,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3430813.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1cj8o_venta_casa_m...,Dos viviendas en block en excelente ubicación ...,Casa - Martinez,https://thumbs4.properati.com/7/3-sXSLx8KPDZzR...,house
121211,121211,sell,apartment,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436508.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1cj9y_venta_depart...,Excelente departamento de categoría con vistas...,Departamento - Acassuso,https://thumbs4.properati.com/0/pvevdNsjE5Kf4r...,apartment
121212,121212,sell,house,Acassuso,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436508.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1cj9z_venta_casa_a...,ESPECTACULAR CASA ESTILO RACIONALISTA EN CALLE...,Casa - Acassuso,https://thumbs4.properati.com/7/DiXqpull13ebTp...,house
121213,121213,sell,house,Martínez,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3430813.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1cja0_venta_casa_m...,EXCELENTE casa en Martinez. Inmejorable ubicai...,Casa - Martinez,https://thumbs4.properati.com/8/v0Il0v9Key--5Z...,house
121214,121214,sell,store,San Isidro,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro|,Argentina,Bs.As. G.B.A. Zona Norte,3428983.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/1cja1_venta_local_...,***VENTA CON RENTA***Local en EDIFICIO lomas ...,Local - San Isidro,https://thumbs4.properati.com/7/R-j0JiSePtAriH...,store

In [16]:
mask1 = (data['currency'].isna()) \
        & (data['price'].isna()) \
        & (data['price_aprox_local_currency'].isna()) \
        & (data['price_aprox_usd'].isna()) \
        & (data['price_usd_per_m2'].isna()) \
        & (data['price_per_m2'].isna())

mask2 = (data['price'].isna()) \
        & (data['price_aprox_local_currency'].isna()) \
        & (data['price_aprox_usd'].isna()) \
        & (data['price_usd_per_m2'].isna()) \
        & (data['price_per_m2'].isna())

#print(mask1.value_counts())
#print(mask2.value_counts())
data.loc[mask2,:].head(5)['description']

5     Casa en el perímetro del barrio 338, ubicada e...
20    Consta de: Comedor-cocina, cuatro dormitorios ...
41    “Arecas” es un complejo de dúplex y departamen...
62    Casa moderna en dos plantas.PB : Living con ho...
67    PLANTA ALTA: DORMITORIO EN SUITE - BALCÓNPLANT...
Name: description, dtype: object

In [17]:
data.iloc[67,:][{'description','title'}].description

'PLANTA ALTA: DORMITORIO EN SUITE - BALCÓNPLANTA BAJA: 2 DORMITORIOS - BAÑO - COCINA - LIVING/COMEDOR - LAVADERO - PATIO- FONDO LIBRE- ENTRADA DE AUTO - LOCAL CON BAÑOCONSULTE VALOR'

In [18]:
data.describe()

,Unnamed: 0,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,121220.000000,1.025030e+05,69670.000000,69670.000000,1.008100e+05,1.008100e+05,1.008100e+05,81892.000000,101313.000000,68617.000000,8.765800e+04,7899.000000,47390.000000,1.426200e+04
mean,60609.500000,3.574442e+06,-34.626210,-59.266290,4.685259e+05,4.229397e+06,2.397006e+05,233.795328,133.050181,2160.086916,6.912216e+03,17.452336,3.080840,5.009234e+03
std,34993.344153,3.541306e+05,1.980936,2.299922,2.260101e+06,6.904714e+06,3.913239e+05,1782.222147,724.351479,2759.288621,2.837864e+04,120.243621,1.860773,1.204403e+05
min,0.000000,3.427208e+06,-54.823985,-75.678931,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.600000,1.510204e+00,1.000000,1.000000,1.000000e+00
25%,30304.750000,3.430234e+06,-34.669065,-58.727040,1.100000e+05,1.583309e+06,8.973388e+04,50.000000,45.000000,1218.181818,1.550000e+03,1.000000,2.000000,1.000000e+03
50%,60609.500000,3.433910e+06,-34.597985,-58.480128,1.850000e+05,2.558452e+06,1.450000e+05,84.000000,75.000000,1800.000000,2.213115e+03,3.000000,3.000000,2.000000e+03
75%,90914.250000,3.836668e+06,-34.441299,-58.395908,4.200000e+05,4.675792e+06,2.650000e+05,200.000000,150.000000,2486.411765,3.355549e+03,6.000000,4.000000,4.000000e+03
max,121219.000000,6.948895e+06,4.545843,-53.733330,6.500000e+08,8.212711e+08,4.654544e+07,200000.000000,187000.000000,206333.333333,4.000000e+06,3150.000000,32.000000,1.000150e+07

In [19]:
df['description'].sample(10)

NameError: name 'df' is not defined

In [ ]:
df.info()

In [ ]:
import numpy as np
col_floor = df.floor

In [ ]:
df[df[]]

In [ ]:
df.iloc[121217].geonames_id

In [ ]:
df_map_test = df[~df['lat'].isna()]
df_map_test.sample(30000)

In [ ]:
df.iloc[26637]

In [ ]:
df.info()

In [ ]:
df